.box {
  width: 500px;
  height: 300px;
  inline-size: 500px;
  block-size: 300px;
  border: 20px dashed blue;
  padding: 20px;
  margin: 50px;
  background-color: pink;
  background-image: url(/images/coffee.png);
}